:root {
  --bs-light-bg : rgb(33, 37, 41); /* noir */
  --bs-success-bg : rgb(255, 193, 7); /* jaune */
  --bs-info-bg : rgb(25, 135, 84); /* vert */
  --bs-primary-bg : rgb(233, 236, 239); /* gris */ 
  --bs-secondary-bg : rgb(13, 110, 253); /* bleu */
  --bs-danger-bg : rgb(220, 53, 69); /* rouge */
}

body { 
  margin: 0;
  min-height: 100vh;
}

.screen {
  display: grid;
  grid-template-rows:
      50px   /* row 1 */
      260px   /* row 2 */
      250px   /* row 3 */
      260px   /* row 4 */
      50px;  /* row 5 */

  height: 100vh;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}


.row1 { background: var(--bs-success-bg); }
.row2 { background: var(--bs-info-bg); }


.row3 {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  gap: 10px;
}
.three { background: var(--bs-info-bg); }
.four  { background: var(--bs-primary-bg); }
.five  { background: var(--bs-secondary-bg); }

.row4 {
  display: grid;
  grid-template-columns: 20% 20% 40% 20%;
  gap: 10px;
  width: 100%;
}


.row4 > * {
  min-width: 0;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.six   { background: var(--bs-danger-bg); }
.seven { 
  font-weight: bold;
   transform: translate(38%, 28%);
 }

 .bi-wrench-adjustable-circle {
  position: relative;
  font-size: 48px;
  top: 68%;
}

.bi-circle {
  position: absolute;
  font-size: 220px;
}

.eight { background: var(--bs-primary-bg); }
.nine  {
  position:absolute;
  top: 78%;
  left: 135%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
}

svg {
  width: 200px;
  height: 200px;
}

.row5 {
  background: var(--bs-info-bg);
}