:root {
  --bs-light-bg : rgb(33, 37, 41); /* noir */
  --bs-success-bg : rgb(255, 193, 7); /* jaune */
  --bs-info-bg : rgb(25, 135, 84); /* vert */
  --bs-primary-bg : rgb(233, 236, 239); /* gris */ 
  --bs-secondary-bg : rgb(13, 110, 253); /* bleu */
  --bs-danger-bg : rgb(220, 53, 69); /* rouge */
}

@font-face {
 font-family: "Cynatar";
 src: url("../../assets/fonts/Cynatar.otf") format("opentype");
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}
@font-face {
 font-family: "Yozakura";
 src: url("../../assets/fonts/YOZAKURA-Regular.otf") format("opentype");
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}
@font-face {
 font-family: "Tourner";
 src: url("../../assets/fonts/Tourner.ttf") format("truetype");
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}

body { 
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
}

#carte {
  width: 100%;
  height: 100%;
  min-height: 250px;  
  border-radius: 1rem;
  transform: translateX(-20px);
}

.screen {
  display: grid;
  grid-template-rows:
      50px   /* row 1 */
      260px   /* row 2 */
      250px   /* row 3 */
      260px   /* row 4 */
      50px;  /* row 5 */

  height: 100vh;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}


.row1 { background: var(--bs-success-bg); }

.row2 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  height: 260px;
  overflow: hidden;
}

.row2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}




.row3 {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  gap: 10px;
  height: 250px;
}
.three { background: var(--bs-info-bg); }
.four  { background: var(--bs-primary-bg); }
.five {
  overflow: hidden;
  position: relative;
  height: 100%;
  min-height: 250px;
}

.row4 {
  display: grid;
  grid-template-columns: 20% 20% 40% 20%;
  gap: 10px;
  width: 100%;
}


.row4 > * {
  min-width: 0;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.six   { background: var(--bs-danger-bg); }
.seven { 
  font-weight: bold;
  transform: translate(20%, -5%);
  width: 100%;
  height: 100%;
 }

 .bi-wrench-adjustable-circle {
  position: relative;
  font-size: 48px;
  top: 43%;
  left: 24%;
}

.bi-circle {
  position: absolute;
  font-size: 220px;
  top: -10%;
}

.eight {
  width: 100%;
  height: 100%;
  position: relative;
}

.eight canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}



.nine  {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

svg {
  width: 200px;
  height: 200px;
}

.row5 {
  background: var(--bs-info-bg);
}